.check-payments {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.invoicing-icon {
    margin-top: 20px;
}

.button-back {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.check-payments-title {
    margin: 0;
    padding: 0;
    font-size: var(--title-small-size);
    margin-bottom: 10px;
}

.table-payments-title {
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
    margin-bottom: 10px;
}

.table-check-payments > table{
    display: block;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    border-collapse:separate;
    border-spacing: 0;
    border:solid var(--green-color) 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: var(--text-form-size);
    margin-bottom: 20px;
    background-color: var(--green-opaque-color-10);
}

.table-check-payments th, .table-check-payments td {
    border-left:solid var(--green-color) 2px;
    border-bottom:solid var(--green-color) 2px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
}

.table-check-payments td:first-child, .table-check-payments th:first-child {
    border-left: none;
}

.table-check-payments thead {
    background-color: var(--green-opaque-color-80);
    border-top: none;
    color: var(--black-color);
}

.table-check-payments td {
    margin: 0;
    padding: 0;
    padding-inline: 10px;
}

.table-check-payments tbody tr td {
    background-color: var(--green-opaque-color-10);
}

.table-check-payments thead th:first-child {
    border-top-left-radius: 9px;
}

.table-check-payments thead th:last-child {
    border-top-right-radius: 9px;
}

.table-check-payments tbody tr:last-child td:first-child {
    border-bottom-left-radius: 9px;
}

.table-check-payments tbody tr:last-child td:last-child {
    border-bottom-right-radius: 9px;
}

.check-payment {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.check-payment-continue-button {
    padding-inline: 20px;
    padding-block: 10px;
}