.subscriber {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.button-back {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.subscriber-icon {
    margin-top: 20px;
}

.subscriber > p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: var(--title-size);
}

.table-personal-info {
    border-spacing: 0;
    border:solid var(--green-color) 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: var(--text-form-size);
}

.table-personal-info td {
    border-left:solid var(--green-color) 2px;
    border-bottom:solid var(--green-color) 2px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: left;
}

.table-personal-info td:first-child {
    border-left: none;
}

.table-personal-info tr td:first-child {
    padding: 3px;
    background-color: var(--green-opaque-color-80);
    padding-inline-start: 10px;
    padding-inline-end: 20px;
    padding-block: 5px;
    font-weight: bold;
}

.table-personal-info tr td:last-child {
    padding: 3px;
    background-color: var(--green-opaque-color-10);
    padding-inline: 10px;
}

.table-personal-info tr:first-child td:first-child {
    border-top-left-radius: 9px;
}

.table-personal-info tr:first-child td:last-child {
    border-top-right-radius: 9px;
}

.table-personal-info tr:last-child td:first-child {
    border-bottom-left-radius: 9px;
}

.table-personal-info tr:last-child td:last-child {
    border-bottom-right-radius: 9px;
}

.table-enrollments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.table-enrollments p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-weight: bold;
    font-size: var(--text-size);
}

.table-enrollments > table{
    display: block;
    max-height: 140px;
    overflow-y: auto;
    border-collapse:separate;
    border-spacing: 0;
    border:solid var(--green-color) 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: var(--text-form-size);
}

.table-enrollments th, .table-enrollments td {
    border-left:solid var(--green-color) 2px;
    border-bottom:solid var(--green-color) 2px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
}

.table-enrollments td:first-child, .table-enrollments th:first-child {
    border-left: none;
}

.table-enrollments thead {
    background-color: var(--green-opaque-color-80);
    border-top: none;
    color: var(--black-color);
}

.table-enrollments td {
    margin: 0;
    padding: 0;
    padding-inline: 10px;
}

.table-enrollments tbody tr td {
    background-color: var(--green-opaque-color-10);
}

.table-enrollments thead th:first-child {
    border-top-left-radius: 9px;
}

.table-enrollments thead th:last-child {
    border-top-right-radius: 9px;
}

.table-enrollments tbody tr:last-child td:first-child {
    border-bottom-left-radius: 9px;
}

.table-enrollments tbody tr:last-child td:last-child {
    border-bottom-right-radius: 9px;
}

.show-enrollment {
    background-color: var(--yellow-color);
    border-radius: 10px;
    margin: 2px;
}

.edit-button {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: var(--text-size);
    font-weight: bold;
}