.subscriber {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.button-back {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.subscriber-icon {
    margin-top: 20px;
}

.subscriber > p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: var(--title-size);
}

.personal-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 20px;
}

.personal-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.personal-data p {
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
}

.table-enrollments {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-enrollments p {
    margin: 5px;
    font-weight: bold;
    font-size: var(--text-size);
}

table{
    border-collapse:separate;
    border-spacing: 0;
    border:solid var(--green-color) 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

th, td {
    border-left:solid var(--green-color) 2px;
    border-bottom:solid var(--green-color) 2px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
}

td:first-child, th:first-child {
    border-left: none;
}

thead {
    background-color: var(--green-opaque-color);
    border-top: none;
    color: var(--black-color);
}

td {
    margin: 0;
    padding: 0;
    padding-inline: 10px;
}

.td-show-enrollment {
    background-color: var(--yellow-color);
}

.show-enrollment {
    background-color: var(--yellow-color);
    border-radius: 0px;
}

.edit-button {
    margin-top: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: var(--text-size);
    font-weight: bold;
}