
.Aqueduct-logo {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
}
  
.Aqueduct-name p {
    color: var(--white-color);
    font-size: var(--text-size);
}
  
.Aqueduct-logo-circle {
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 50%;
}
  
.Aqueduct-name {
    display: flex;
    flex-direction: column;
}