.change-password-window {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.button-back {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.user-profile-icon {
    margin-top: 20px;
}

.change-password-window > p {
    margin: 0;
    font-size: var(--title-size);
    font-weight: bold;
}

.chamge-password-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    row-gap: 20px;
    margin-top: 40px;
}

.chamge-password-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chamge-password-container > div > p {
    margin: 0;
    font-size: var(--text-size);
    font-weight: bold;
}

.chamge-password-container > div > input {
    width: 300px;
    font-size: var(--text-size);
    border: solid 2px;
    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 10px;
}