:root {
  --green-color: #0AC23E;
  --green-opaque-color-80: #0AC23ECC;
  --green-opaque-color-10: #0AC23E11;
  --yellow-color: #FFCC00;
  --red-color: #FF0000;
  --blue-color: #00CCFF;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --dark-color: rgba(0, 0, 0, 0.15);

  --title-size: 30px;
  --title-small-size: 25px;
  --text-size: 20px;
  --text-form-size: 18px;
  --nav-bar-text-size: 16px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 10px;
  border: none;
  background: var(--green-color);
  color: var(--white-color);
  font-size: var(--text-size);
  cursor: pointer;
  font-size: var(--text-size);
  font-weight: bold;
}
